<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="connectionString" value="Server=localhost,1433;Database=2020VID;UID=SA;Password=YourStrong@Passw0rd;MultipleActiveResultSets=True"/>
  </appSettings>
</configuration>

<!--jdbc:sqlserver://localhost:1433;database=books-->